body.class-for-index {
    background-image: url(vaporwave.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}

p.title {
    color: #E93479;
    font-family: 'Courier New', Courier, monospace;
}


p button {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: #E93479;
    color: #FFFFFF;
}

p button:hover {
    background-color: #8afef5;
}

h1.page.title {
    font-family: 'Courier New', Courier, monospace;
    color: #f8249f;
}

body.class-for-pages {
    background-color: #8afef5;
    font-family: 'Courier New', Courier, monospace;
    color: #f8249f;
}
